In [1]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
results = []
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06").all()

In [5]:
#alternate method filter the dates 2010-06-01 to 2017-06-30 from query
#create a df for all temps
#df['date'] = pd.to_datetime(df['date'])
#df = df[df['date'].dt.month == 6]

In [6]:
#  3. Convert the June temperatures to a list.
temps = list(results)

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(temps, columns=['date','June Temps'])
df_june.set_index(df_june['date'], inplace=True)
del df_june["date"]
df_june

            June Temps
date
2010-06-01        78.0
2010-06-02        76.0
2010-06-03        78.0
2010-06-04        76.0
2010-06-05        77.0
...                ...
2017-06-26        79.0
2017-06-27        74.0
2017-06-28        74.0
2017-06-29        76.0
2017-06-30        75.0

[1700 rows x 1 columns]

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "12").all()

In [10]:
# 7. Convert the December temperatures to a list.
temps = list(results)

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(temps, columns= ['date', 'December Temps'])
df_dec.set_index(df_dec['date'], inplace=True)
del df_dec["date"]
df_dec

            December Temps
date
2010-12-01            76.0
2010-12-03            74.0
2010-12-04            74.0
2010-12-06            64.0
2010-12-07            64.0
...                    ...
2016-12-27            71.0
2016-12-28            71.0
2016-12-29            69.0
2016-12-30            65.0
2016-12-31            65.0

[1517 rows x 1 columns]

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000